{% extends "pipeline/pipeline_base.html" %}
{% block pipeline_content %}
<div class="card">
  <div class="card-header">
    <h5>Data Scaling</h5>
    <small class="text-muted">In this phase you can visualize heatmaps and other visualization based
      on the dataset you've cleaned.</small>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <div class="table-responsive">
          {{ scaled_dataset|safe }}
        </div>
      </div>
      <div class="col-md-3">
        <h5>Choose Scaler</h5>
        <hr>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
          <label class="form-check-label" for="flexRadioDefault1">
            MinMax Scaler
            <small>If you are transforming a feature, its non distorting</small>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Robust Scaler
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Standard Scaler
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <button class="btn btn-secondary btn-sm" disabled><i class="icon bi-arrow-left-circle mx-1"></i>Previous</button>
      <button class="btn btn-success btn-sm text-white">Next<i class="icon bi-arrow-right-circle mx-1"></i></button>
    </div>
  </div>
</div>
{% endblock pipeline_content %}
