{% extends "pipeline/pipeline_base.html" %}
{% block pipeline_content %}
<div class="card">
  <div class="card-header">
    <h5>Exploratory Data Analysis and Visualization</h5>
    <small class="text-muted">In this phase you can visualize heatmaps and other visualization based
      on the dataset you've cleaned.</small>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-9">
        <h5>Dataset Summary</h5>
        {% if dataset_summary %}
        <div class="table-responsive">
          {{ summary|safe }}
        </div>
        {% elif hist_summary %}
        <div>
          <img src="{{ url_for('static', filename=plot_url) }}" height="400" width="400" style="margin: 0 auto; display: block;">
        </div>
        {% elif correlation %}
          <img src="{{ url_for('static', filename=plot_url) }}" height="700" width="700" style="margin: 0 auto; display: block;">
        {% elif pairplot %}
          <img src="{{ url_for('static', filename=plot_url) }}" height="700" width="700" style="margin: 0 auto; display: block;">
        {% elif boxplot %}
          <img src="{{ url_for('static', filename=plot_url) }}" height="700" width="700" style="margin: 0 auto; display: block;">
        {% endif %}
      </div>
      <div class="col-md-3">
        <h5>Choose Visualization to Generate</h5>
        <hr>
        <form method="POST" action="{{ url_for('pipeline.pipeline_detail_eda', id=project.id) }}">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="visualization" value="summary" id="id_summary" {% if dataset_summary %}checked{% endif %}>
            <label class="form-check-label" for="id_summary">
              Dataset Summary
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="visualization" value="histogram" id="id_histogram" {% if hist_summary %}checked{% endif %}>
            <label class="form-check-label" for="id_histogram">
              Histogram
              <div class="ml-4">
                {% for col in columns %}
                  <div class="form-check form-check-inline">
                    <input class="form-check-input custom" type="radio" name="hist_col" value="{{ col }}" id="id_{{ col }}" {% if col == hist_col %} checked {% endif %}>
                    <label class="form-check-label" for="id_{{ col }}">{{ col }}</label>
                  </div>
                {% endfor %}
              </div>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="visualization" value="correlation" id="id_correlation" {% if correlation %}checked{% endif %}>
            <label class="form-check-label" for="id_correlation">
              Correlation
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="visualization" value="pairplot" id="id_pairplot" {% if pairplot %}checked{% endif %}>
            <label class="form-check-label" for="id_pairplot">
              Pairplot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="visualization" value="boxplot" id="id_boxplot" {% if boxplot %}checked{% endif %}>
            <label class="form-check-label" for="id_boxplot">
              Boxplot
            </label>
          </div>
          <hr>
          <button type="submit" class="btn btn-primary btn-sm">Apply Changes</button>
        </form>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <a href="{{ url_for('pipeline.pipeline_detail_cleaning', id=project.id) }}" class="btn btn-secondary btn-sm" disabled>
        <i class="icon bi-arrow-left-circle mx-1"></i>Previous</a>
      <a href="{{ url_for('pipeline.pipeline_detail_scaling', id=project.id) }}" class="btn btn-success btn-sm text-white">
        Next<i class="icon bi-arrow-right-circle mx-1"></i></a>
    </div>
  </div>
</div>
{% endblock pipeline_content %}
