{% extends "pipeline/pipeline_base.html" %}
{% block pipeline_content %}
  <div class="card">
    <div class="card-header">
      Feature Selection
    </div>
    <form action="{{ url_for('pipeline.pipeline_detail_features', id=project.id, learning=supervised_learning_task) }}" method="POST">
      <div class="card-body">
        <div class="row">
          {% if not supervised_learning_task %}
            <div class="col-md-6">
              <a href="{{ url_for('pipeline.pipeline_detail_features', id=project.id, learning='regression')}}" style="text-decoration: none;">
                <div class="card">
                  <div class="card-body" style="padding: 100px 130px;">
                    Regression
                    <small class="d-block">Supervised Learning task where output is having continuous value. </small>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a href="{{ url_for('pipeline.pipeline_detail_features', id=project.id, learning='classification')}}" style="text-decoration: none;">
                <div class="card">
                  <div class="card-body" style="padding: 100px 130px;">
                    Classification
                    <small class="d-block">Supervised Learning task where output is having defined labels(discrete value)</small>
                  </div>
                </div>
              </a>
            </div>
          {% else %}
            <div class="col-md-6 mb-3">
              <a href="{{ url_for('pipeline.pipeline_detail_features', id=project.id, learning='regression')}}" style="text-decoration: none;">
                <div class="card {% if supervised_learning_task == 'regression' %}text-white bg-success{% endif %}">
                  <div class="card-body" style="padding: 20px 20px;">
                    Regression
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6 mb-3">
              <a href="{{ url_for('pipeline.pipeline_detail_features', id=project.id, learning='classification')}}" style="text-decoration: none;">
                <div class="card {% if supervised_learning_task == 'classification' %}text-white bg-success{% endif %}">
                  <div class="card-body" style="padding: 20px 20px;">
                    Classification
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-12">
              <hr>
            </div>
            <div class="col-md-8">
              <h5>Predictors and Outcome features</h5>
              {% for col in columns %}
                <div class="form-check form-check-inline">
                  <input class="form-check-input" disabled type="radio" name="predictor" id="{{ col }}" value="{{ col }}" {% if col == predictor %}checked{% endif %}>
                  <label class="form-check-label" for="{{ col }}">
                    {{ col }}
                  </label>
                </div>
              {% endfor %}
              <i>(Predictor value)</i>
              <div class="table-responsive">
                {{ active_dataset|safe }}
              </div>
              <hr>
              <p>There are <strong>{{ shape[1] }}</strong> features in the dataset, where all of them may not be necessary and we
                can strip down the features to handful important required features only.</p>
              <hr>
              {% if supervised_learning_task == 'classification' %}
                <hr>
                <h4 class="text-center text-info">Please analyze and select features to continue to train model.</h4>
                <div class="text-center">
                  {% for col in columns %}
                    {% if col != predictor %} {#  ignore predictor value to be shown on columns list #}
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="selected_features" id="id_{{ col }}" value="{{ col }}" {% if col in selected_features %} checked {% endif %}>
                        <label class="form-check-label" for="id_{{ col }}">{{ col }}</label>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <div style="width: 900px; height: 500px;" id="myPieChart"></div>
              {% elif supervised_learning_task == 'regression' %}
                {% if regressor_features|length > 0 %}
                  <hr>
                  <h4 class="text-center text-info">Please analyze and select features to continue to train model.</h4>
                  <div class="text-center">
                    {% for col in columns %}
                      {% if col != predictor %} {#  ignore predictor value to be shown on columns list #}
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" name="selected_features" id="id_{{ col }}" value="{{ col }}" {% if col in selected_features %} checked {% endif %}>
                          <label class="form-check-label" for="id_{{ col }}">{{ col }}</label>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div style="width: 900px; height: 500px;" id="myPieChart"></div>
                {% endif %}
              {% endif %}
            </div>
            <div class="col-md-4">
              <h5>Apply Feature Selection Using Following Algorithms</h5>
              {% if supervised_learning_task == 'classification' %}
                <!--
                <div class="form-check">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Using SelectFromModel and LogisticRegression
                  </label>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"><i>Max Iter Value</i></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="10000">
                  </div>
                </div>
                <div class="form-check">
                  <label class="form-check-label" for="flexRadioDefault2">
                    Linear SVM
                  </label>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"><i>Use Regularization Hyperparameter</i></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="0.01">
                  </div>
                </div>
                <div class="form-check">
                  <label class="form-check-label" for="flexRadioDefault2">
                    SelectKBest
                  </label>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"><i>No. of features to select</i></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="10">
                  </div>
                </div>
                <div class="form-check">
                  <label class="form-check-label" for="flexRadioDefault2">
                    Classify Predictor
                  </label>
                  <div class="mb-3">
                    <label for="predictorThreshold" class="form-label"><i>Predictor Threshold</i></label>
                    <input type="text" class="form-control" id="predictorThreshold" placeholder="2">
                  </div>
                </div>
              -->
              {% endif %}
              <hr>
              <input type='text' value="{{ supervised_learning_task }}" name="learning" hidden>
              <button type="submit" class="btn btn-sm btn-primary">
                {% if regressor_features|length > 0 %}
                  Save features for training model
                {% else %}
                  Apply and Generate Features Overview
                {% endif %}
              </button>
            </div>
          {% endif %}
        </div>
      </div>
    </form>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <a href="{{ url_for('pipeline.pipeline_detail_train_test', id=project.id) }}" class="btn btn-secondary btn-sm" disabled><i class="icon bi-arrow-left-circle mx-1"></i>Previous</a>
        <a href="{{ url_for('pipeline.pipeline_detail_train', id=project.id) }}" class="btn btn-success btn-sm text-white">Next<i class="icon bi-arrow-right-circle mx-1"></i></a>
      </div>
    </div>
  </div>
{% endblock pipeline_content %}

{% block js %}

  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawVisualization);

    function drawVisualization() {
      // Some raw data (not necessarily accurate)
      {% if regressor_features|length > 0 %}
        var data = google.visualization.arrayToDataTable({{ regressor_features|safe }});
      {% elif classifier_features|length > 0 %}
        var data = google.visualization.arrayToDataTable({{ classifier_features|safe }});
      {% endif %}
      var options = {
        title : 'Feature Importance of individual features based on applied alogirthms',
        vAxis: {title: 'Score (%)'},
        hAxis: {title: 'Algorithms'},
        seriesType: 'bars',
        {% if regressor_features|length > 0 %}
          series: { {{ regressor_features[0]|length - 2 }}: {type: 'line'}}
        {% elif classifier_features|length > 0 %}
          series: { {{ classifier_features[0]|length - 2 }}: {type: 'line'}}
        {% endif %}
      };

      var chart = new google.visualization.ComboChart(document.getElementById('myPieChart'));
      chart.draw(data, options);
    }
  </script>
{% endblock js %}
