{% extends "base.html" %}
{% block title %} Pipeline{% endblock title %}
{% block content %}
<div class="container">
  <div class="row my-4">
    <div class="col-md-12 mb-3">
      <h5>Dataset Title: {{ project.title }} <span class="badge bg-warning">{{ project.status }}</span></h5>
      <p class="text-muted">{{ project.description }}</p>
      <div>
        <a href="{{ url_for('dashboard.dashboard_edit_project', id=project.id) }}"><button class="btn btn-outline-success btn-sm">Edit</button></a>
        <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalDelete">Delete</button>
        <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalPreviewDataset">Preview All Dataset</button>
      </div>
    </div>
    <div class="col-md-12">
      <div class="d-flex justify-content-around mb-3">
        <div>
          <i class="icon pipeline-nav-icon bi-magic"></i>
          <a class="pipeline-nav-link {% if active_pipeline == 'cleaning' %}active{% endif %}" href="{{ url_for('pipeline.pipeline_detail_cleaning', id=project.id) }}">Data Cleaning</a>
        </div>
        <hr aria-orientation="horizontal" class="flex-grow-1 mx-2"/>
        <div>
          <i class="icon pipeline-nav-icon bi-pie-chart"></i>
          <a class="pipeline-nav-link {% if active_pipeline == 'eda' %}active{% endif %}" href="{{ url_for('pipeline.pipeline_detail_eda', id=project.id) }}">EDA</a>
        </div>
        <hr aria-orientation="horizontal" class="flex-grow-1 mx-2"/>
        <div>
          <i class="icon pipeline-nav-icon bi-gear"></i>
          <a class="pipeline-nav-link {% if active_pipeline == 'scaling' %}active{% endif %}" href="{{ url_for('pipeline.pipeline_detail_scaling', id=project.id) }}">Data Scaling</a>
        </div>
        <hr aria-orientation="horizontal" class="flex-grow-1 mx-2"/>
        <div>
          <i class="icon pipeline-nav-icon bi-window-stack"></i>
          <a class="pipeline-nav-link {% if active_pipeline == 'features' %}active{% endif %}" href="{{ url_for('pipeline.pipeline_detail_features', id=project.id) }}">Feature Engineering</a>
        </div>
        <hr aria-orientation="horizontal" class="flex-grow-1 mx-2"/>
        <div>
          <i class="icon pipeline-nav-icon bi-wrench-adjustable"></i>
          <a class="pipeline-nav-link {% if active_pipeline == 'train' %}active{% endif %}" href="{{ url_for('pipeline.pipeline_detail_train', id=project.id) }}">Train Models</a>
        </div>
        <hr aria-orientation="horizontal" class="flex-grow-1 mx-2"/>
        <div>
          <i class="icon pipeline-nav-icon bi-puzzle"></i>
          <a class="pipeline-nav-link {% if active_pipeline == 'predict' %}active{% endif %}" href="{{ url_for('pipeline.pipeline_detail_predict', id=project.id) }}">Predict</a>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: {{ progress }}%">
        </div>
      </div>
    </div>
    <div class="col-md-12">
      {% block pipeline_content %}{% endblock pipeline_content %}
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row my-4">
  </div>
  <div class="modal modal-xl" id="modalPreviewDataset" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h5 class="modal-title">Preview Dataset</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              {{ all_df|safe }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal" id="modalDelete" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h5 class="modal-title">Confirm Deletion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this dataset you're working on?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
