  <div class="list-group">
    <a href="/dashboard/home" class="list-group-item list-group-item-action py-3">Dashboard</a>
    <a href="/dashboard/upload" class="list-group-item list-group-item-action py-3">Upload new Dataset</a>
    <a href="/dashboard/history" class="list-group-item list-group-item-action py-3">History</a>
    <a href="#" class="list-group-item list-group-item-action py-3">Explore more Datasets</a>
    <a href="#" class="list-group-item list-group-item-action py-3">Work in Progress</a>
    <a href="#" class="list-group-item list-group-item-action py-3">Logout</a>
  </div>
